<h1>Editing member_info</h1>

<% form_for(@member_info) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </p>
  <p>
    <%= f.label :street_id %><br />
    <%= f.text_field :street_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @member_info %> |
<%= link_to 'Back', member_infos_path %>