<h1>Listing memberinfos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th>Salt</th>
  </tr>

<% @memberinfos.each do |memberinfo| %>
  <tr>
    <td><%=h memberinfo.name %></td>
    <td><%=h memberinfo.password %></td>
    <td><%=h memberinfo.salt %></td>
    <td><%= link_to 'Show', memberinfo %></td>
    <td><%= link_to 'Edit', edit_memberinfo_path(memberinfo) %></td>
    <td><%= link_to 'Destroy', memberinfo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New memberinfo', new_memberinfo_path %>